<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Vividl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <Vividl.Properties.Settings>
      <setting name="DownloadFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="MaxProcesses" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DefaultFormat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowAllFormats" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowDuplicateEntries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RestrictFilenames" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YoutubeDLPath" serializeAs="String">
        <value>Lib\\youtube-dl.exe</value>
      </setting>
      <setting name="FfmpegPath" serializeAs="String">
        <value>Lib\\ffmpeg.exe</value>
      </setting>
      <setting name="OverwriteFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppTheme" serializeAs="String">
        <value>Light</value>
      </setting>
      <setting name="PreferRecoding" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ArchiveFilename" serializeAs="String">
        <value>.archive.txt</value>
      </setting>
      <setting name="UseArchive" serializeAs="String">
        <value>False</value>
      </setting>
    </Vividl.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
