<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdonisUI" version="1.14.0" targetFramework="net462" />
  <package id="AdonisUI.ClassicTheme" version="1.14.0" targetFramework="net462" />
  <package id="AppHelpers.WPF" version="0.1.0-beta8" targetFramework="net462" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net462" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net462" />
  <package id="Enterwell.Clients.Wpf.Notifications" version="1.4.2" targetFramework="net462" />
  <package id="Fody" version="4.0.2" targetFramework="net462" developmentDependency="true" />
  <package id="MahApps.Metro.IconPacks.Modern" version="3.5.0" targetFramework="net462" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="PortableSettingsProvider" version="0.2.3" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="YoutubeDLSharp" version="0.2.0" targetFramework="net462" />
</packages>