<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdonisUI" version="1.17.1" targetFramework="net48" />
  <package id="AdonisUI.ClassicTheme" version="1.17.1" targetFramework="net48" />
  <package id="AppHelpers.WPF" version="0.1.0" targetFramework="net462" />
  <package id="ByteSize" version="2.1.1" targetFramework="net462" />
  <package id="CommonServiceLocator" version="2.0.7" targetFramework="net48" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net462" />
  <package id="Enterwell.Clients.Wpf.Notifications" version="1.4.2" targetFramework="net462" />
  <package id="Fody" version="6.3.0" targetFramework="net462" developmentDependency="true" />
  <package id="MahApps.Metro.IconPacks.Modern" version="4.11.0" targetFramework="net48" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="PortableSettingsProvider" version="0.2.4" targetFramework="net462" />
  <package id="SharpClipboard" version="3.5.2" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WPFLocalizeExtension" version="3.10.0" targetFramework="net48" />
  <package id="XAMLMarkupExtensions" version="2.1.3" targetFramework="net48" />
  <package id="YoutubeDLSharp" version="1.0.0-beta4" targetFramework="net48" />
</packages>