<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdonisUI" version="1.16.0" targetFramework="net462" />
  <package id="AdonisUI.ClassicTheme" version="1.16.0" targetFramework="net462" />
  <package id="AppHelpers.WPF" version="0.1.0-rc2" targetFramework="net462" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net462" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net462" />
  <package id="Enterwell.Clients.Wpf.Notifications" version="1.4.2" targetFramework="net462" />
  <package id="Fody" version="6.3.0" targetFramework="net462" developmentDependency="true" />
  <package id="MahApps.Metro.IconPacks.Modern" version="4.8.0" targetFramework="net462" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="PortableSettingsProvider" version="0.2.3" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="WPFLocalizeExtension" version="3.8.0" targetFramework="net461" />
  <package id="XAMLMarkupExtensions" version="2.0.0" targetFramework="net461" />
  <package id="YoutubeDLSharp" version="0.3.0" targetFramework="net462" />
</packages>